<?xml version="1.0" encoding="UTF-8"?>
<ModuleInfo localize="core module" destinationfolder="TbApps">
  <Components>
  <Library name="CoreDbl" sourcefolder="CoreDbl" deploymentpolicy="full" />
<Library name="CoreComponents" sourcefolder="CoreComponents" deploymentpolicy="full" />
<Library name="CoreDocuments" sourcefolder="CoreDocuments" deploymentpolicy="full" />
<Library name="Codeless" sourcefolder="Codeless" deploymentpolicy="full" />
</Components>
</ModuleInfo>